<module>
    <rawname>ovpn_mgr</rawname>
    <name>OpenVPN Manager</name>
    <version>2.10</version>
    <publisher>HG</publisher>
    <license>GPLv3+</license>
    <category>Custom</category>
    <menuitems>
        <ovpn_mgr>OpenVPN Manager</ovpn_mgr>
    </menuitems>
    <more-info>https://github.com/CalNu/FPBX_OVPN_MGR</more-info>
    <populatesysadmin>true</populatesysadmin>
</module>